@model RenderingModel

@if (!Sitecore.Context.PageMode.IsPageEditorEditing)
{
    <main id="hits-container-@Model.Rendering.UniqueId"></main>
    <script>
        search.addWidget(
            instantsearch.widgets.hits({
                container: '#hits-container-@Model.Rendering.UniqueId',
                templates: {
                    empty: @Model.Item.GetFieldDecodedRawValue("Empty Template"),
                    item: @Model.Item.GetFieldDecodedRawValue("Item Template")
                },
                hitsPerPage: @Html.Sitecore().Field("Hits Per Page")
            })
        );
    </script>
}
else
{
    <div class="form-group">
        <label>Item Template:</label>
        @Html.Sitecore().Field("Item Template")
    </div>
    <div class="form-group">
        <label>Empty Template:</label>
        @Html.Sitecore().Field("Empty Template")
    </div>
    <div class="form-group">
        <label>Hits Per Page:</label>
        @Html.Sitecore().Field("Hits Per Page")
    </div>
}



