@model MenuModel

@if (!Sitecore.Context.PageMode.IsPageEditorEditing)
{
    <div id="categories-@Model.Rendering.UniqueId" class="text-muted"></div>
    <script>
        search.addWidget(
            instantsearch.widgets.menu({
                container: '#categories-@Model.Rendering.UniqueId',
                @Model.AttributeName
                @Model.Limit
                templates: {
                    @Model.HeaderTemplate
                }
            })
        );
    </script>
}
else
{
    <div class="form-group">
        <label>Attribute Name:</label>
        @Html.Sitecore().Field("Attribute Name")
    </div>
    <div class="form-group">
        <label>Limit:</label>
        @Html.Sitecore().Field("Limit")
    </div>
}



