@model RenderingModel

@if (!Sitecore.Context.PageMode.IsPageEditorEditing)
{
    <div id="prices-@Model.Rendering.UniqueId" class="text-muted"></div>
    <script>
        search.addWidget(
            instantsearch.widgets.priceRanges({
                container: '#prices-@Model.Rendering.UniqueId',
                attributeName: '@Html.Sitecore().Field("Attribute Name")',
                cssClasses: {
                   @Model.Item.NameValuesToCssClasses("Css Classes")
                },
                templates: {
                    header: @Model.Item.GetFieldDecodedRawValue("Header Template")
                }
            })
        );
    </script>
}
else
{
    <div class="form-group">
        <label>Attribute Name:</label>
        @Html.Sitecore().Field("Attribute Name")
    </div>
    <div class="form-group">
        <label>Header Template:</label>
        @Html.Sitecore().Field("Header Template")
    </div>
}



