@model RenderingModel

@if (!Sitecore.Context.PageMode.IsPageEditorEditing)
{
    <div id="refinement-list-@Model.Rendering.UniqueId" class="text-muted"></div>
    <script>
        search.addWidget(
            instantsearch.widgets.refinementList({
                container: '#refinement-list-@Model.Rendering.UniqueId',
                attributeName: '@Html.Sitecore().Field("Attribute Name")',
                operator: 'or',
                limit: @Html.Sitecore().Field("Limit"),
                templates: {
                    item: @Model.Item.GetFieldDecodedRawValue("Item Template"),
                    header: @Model.Item.GetFieldDecodedRawValue("Header Template")
                }
            })
        );
    </script>
}
else
{
    <div class="form-group">
        <label>Attribute Name:</label>
        @Html.Sitecore().Field("Attribute Name")
    </div>
    <div class="form-group">
        <label>Limit:</label>
        @Html.Sitecore().Field("Limit")
    </div>
    <div class="form-group">
        <label>Header Template:</label>
        @Html.Sitecore().Field("Header Template")
    </div>
    <div class="form-group">
        <label>Item Template:</label>
        @Html.Sitecore().Field("Item Template")
    </div>
}



