@model RenderingModel

@if (!Sitecore.Context.PageMode.IsPageEditorEditing)
{
    <div class="input-group">
        <input type="text" class="form-control" id="q-@Model.Rendering.UniqueId" />
        <span class="input-group-btn">
            <button class="btn btn-default"><i class="fa fa-search"></i></button>
        </span>
    </div>
    <script>
        search.addWidget(
            instantsearch.widgets.searchBox({
                container: '#q-@Model.Rendering.UniqueId',
                placeholder: '@Html.Sitecore().Field("Placeholder")',
                autofocus: @Model.Item.GetCheckBoxTrueFalse("Autofocus")
            })
        );
    </script>
}
else
{
    <div class="ais-search-box">
        <input autocapitalize="off" autocomplete="off" autocorrect="off" placeholder='@Model.Item.Fields["Placeholder"].Value' role="textbox" spellcheck="false" type="text" value="" class="ais-search-box--input">
    </div>
    <div class="form-group">
        <label>Placeholder:</label>
        @Html.Sitecore().Field("Placeholder")
    </div>
    <div class="form-group">
        <label>Autofocus:</label>
        @Html.Sitecore().Field("Autofocus", new { Display = "Checkbox" })
    </div>
}



